@import "variables";

/**
  Table of Contents
  ------------------------
  CS01 - General Items
  CS02 - Menu Elements
**/


/** CS01 General Items
 ===================== **/
html, body {
  font-family: 'Roboto', sans-serif;

  a {
    color: $pink;
    font-family: Verdana, sans-serif;
    font-weight: 400;

    &:hover {
      color: #F9637B;
    }
  }
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

/** CS02 Menu Items
 ===================== **/
.top-bar {
  &.top-bar ul {
    background-color: $med-gray;
  }

  &.margin {
    margin-bottom: 3%;
    background-color: $med-gray;
  }

  ul {
    &.menu {
      li {
        text-transform: uppercase;

        &.menu-text {
          &.title {
            border-right: 1px $silver solid;
            color: $silver;
            font-family: 'Oswald', sans-serif;
            font-weight: 500;
            font-size: 1.1em;
          }
        }
      }
    }
  }
}

