//@import "./fontawesome/scss/fontawesome";
//@import "./fontawesome/scss/solid";
//@import "./fontawesome/scss/brands";

@import "variables";
@import "mixins";

/**
  Table of Contents
  ------------------------
  CS01 - General Items
  CS02 - Menu Elements
  CS03 - Form Elements
  CS03 - Card Elements
**/


/** CS01 General Items
 ===================== **/
html, body {
  background-image: url('../../assets/images/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-size: cover;
  height:100%;

  a {
    color: $pink;
    font-family: Verdana, sans-serif;
    font-weight: 400;

    &:hover {
      //@extend %fa-icon;
      //@extend .fas;

      color: $light-pink;

      //&:before {
      //  content: fa-content($fa-var-caret-right);
      //}
    }
    &:active {
      color: $light-pink;
    }
    &:focus {
      color: $light-pink;
    }

    span {
      color: $silver;
    }
  }
}

footer {
  &.__url {
    bottom: 0;
    text-align: center;
    width: 100%;
  }
}

#content {
  @include border-radius(5px);

  background-color: $white;
  border: 1px solid #ccc;
  padding: 25px 15px;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;

  span {
    &.error-msg {
      color: $error;
    }
  }
}

#login-form {
  -webkit-box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75);
}

/** CS02 Menu Items
 ===================== **/
.top-bar {
  color: $silver;
  -webkit-box-shadow: 0 10px 32px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 10px 32px 0 rgba(0,0,0,0.75);
  box-shadow: 0 10px 32px 0 rgba(0,0,0,0.75);

  &.top-bar ul {
    background-color: $med-gray;
  }

  &.margin {
    margin-bottom: 3%;
    background-color: $med-gray;
  }

  ul {
    &.menu {
      &.__logout {
        font-size: .85em;

        .menu-text {
          text-transform: capitalize;
        }
      }

      li {
        text-transform: uppercase;

        &.menu-text {
          &.title {
            border-right: 1px $silver solid;
            color: $silver;
            font-family: 'Oswald', sans-serif;
            font-weight: 500;
            font-size: 1.1em;
          }
        }
      }
    }
  }
}

/** CS03 Form Items
 ===================== **/

.button {
  @include border-radius(5px);

  background-color: $med-gray;
  color: $pink;
  font-family: Verdana, sans-serif;
  font-weight: 600;
  text-transform: uppercase;

  &:hover {
    background-color: #474747;
    color: $light-pink;
  }

  &:active {
    background-color: $med-gray;
    color: $pink;
  }

  &:focus {
    background-color: $med-gray;
    color: $light-pink;
  }
}

/** CS04 Card Items
 ===================== **/
.card {
  @include border-radius(5px);
  border: 1px solid $dark-gray;
}

.card-divider {
  background: $med-gray;
  color: $pink;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}